// Main App Primary COlors
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

// secondary Colors
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-third-light: #2998ff;
$color-third-dark: #5643fa;

// Other Colors Variables

$color-grey-light: #f7f7f7;

$color-grey: #777;
$color-grey-dark: #999;
$color-white: #ffff;
$color-black: #0000;

// Grid variables
$grid-width: 114rem;
$grid-gap-vertical: 8rem;
$grid-gap-horizontal: 6rem;
