* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}
html {
	font-size: 62.5%;

	@include respond(tab-port) {
		font-size: 50%;
	}
	@include respond(tab-land) {
		font-size: 50%;
	}
	@include respond(big-desktop) {
		font-size: 50%;
	}
}
body {
	box-sizing: border-box;
}
